@model IEnumerable<SportsX.Models.Cliente>
@{
    ViewBag.Title = "Index";
    var ident = "";
}
<h2>Gestão de Clientes</h2>
<p>
    @Html.ActionLink("Incluir Novo Cliente", "Create", "Cliente", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>CPF/CNPJ</th>
        <th>@Html.DisplayNameFor(model => model.Nome) </th>
        <th>@Html.DisplayNameFor(model => model.Classificacao)</th>
        <th>@Html.DisplayNameFor(model => model.Telefone)</th>
        <th>Ações</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @if (item.Identificador.Length > 11)
            {
                ident = item.Identificador.Insert(2, ".").Insert(6, ".").Insert(10, "/").Insert(15, "-");
            }
            else
            {
                ident = item.Identificador.Insert(3, ".").Insert(7, ".").Insert(11, "-");
            }
            @ident
            @*Html.DisplayFor(modelItem => item.Identificador)*@
        </td>
    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
    <td>
        @switch (item.Classificacao)
        {
            case 1:
                <text>
                    Ativo
                </text>
                break;
            case 2:
                <text>
                    Inativo
                </text>
                break;
            default:
                <text>
                    Preferencial
                </text>
                break;
        }
    </td>
    <td>
        @item.Telefone.Insert(0, "(").Insert(3, ")").Insert(8, "-")
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId }) |
        @Html.ActionLink("Detalhes", "Details", new { id = item.ClienteId }) |
        @Html.ActionLink("Deletar", "Delete", new { id = item.ClienteId })
    </td>
</tr>
    }
</table>